* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background-color: rgb(78, 101, 235);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}

.calculo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  text-align: center;
  background-color: blue;
  font-size: 18px;
}

.condicao {
  padding: 10px;
  background-color: rgb(129, 226, 181);
  text-align: center;
}
